.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Fira+Sans:700,400italic);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Yeseva+One|La+Belle+Aurore|Unica+One|Nova+Square|Lemon|Carter+One|Chelsea+Market|Merienda|Love+Ya+Like+A+Sister);

$major-font: 'Chelsea Market', cursive;
$body-font: 'Sue Ellen Francisco', sans;

section {
    background-color: rgba(255, 255, 255, .8);
    color: black;

    img {
        display: block;
        width: 100%;
    }
}

@media (max-width: 40em) {

    section {
        padding: 1em;
    }

    section.imageQuadrant {
        padding: 0em;
    }
}

@media (min-width: 40em) { 
    html {
        font-size: 120%;
    }

    .information {
        margin: 1em;
        padding: 2em;
    }
}
@media (min-width: 76em) { 

    html {
        font-size: 135%;
    }

    .information {
        float: left;
        margin: 1em;
        padding: 0em 2em;
        width: 45%;
    }

    .imageQuadrant img {
        float: left;
        width: 25%;
    }

    nav li {
        display: inline;
        padding: 1em;

    }
}
 


body {

    background-image: url('../images/grass.jpg');
    color: White;

    font-family: $body-font;
    font-size: 125%;
    letter-spacing: .1em;
    line-height: 1.8em;

}

h1, h2, h3, h4, h5, h6 {
    font-family: $major-font;
}

header {
    background-attachment: fixed;
    background-image: url('../images/top.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 23em;
    div.header_text {
        background-color:rgba(0, 119, 255, 0.43);
        padding: 2em;
    }

}

nav {
    background-color: rgba(255, 255, 255, .5);
    padding: 1em;
    text-align: center;
}
.container {
    margin: 0 auto;
}


a:link {
    color: black;
}

a:visited {
    color: #222;
}

a:hover {

    color: #666;
}

a:active {
    
    color: #444;
}
